*.txt
*.json
*.log
.DS_Store
node_modules/
dist/
.env
.vscode/
.idea/
*.bak
*.swp
*.class
*.jar
*.war
*.iml
*.exe
*.dll
*.pdb
*.so
*.o
*.obj
*.out
*.log
*.tmp
*.cache
chroma.sqlite3
*__pycache__/
*.pyc
*.pyo
*.pyd